apiVersion: v1
kind: Secret
metadata:
  name: {{ include "manga-reader.fullname" . }}-web-env
stringData:
  .env: |
    NODE_ENV=production

    BETTER_AUTH_URL=https://{{ .Values.domain.web }}
    BETTER_AUTH_SECRET={{ .Values.secrets.betterAuthSecret | quote }}

    DATABASE_URL="postgresql://{{ .Values.database.web.user }}:{{ .Values.database.web.password }}@{{ include "manga-reader.fullname" . }}-postgres:5432/{{ .Values.database.web.db }}"

    IMAGE_SERVER_URL=https://{{ .Values.domain.img }}
    IMAGE_SERVER_URL_INNER="http://{{ include "manga-reader.fullname" . }}-image-processor-service:3001"
    IMAGE_SERVER_API_KEY={{ .Values.secrets.imageServerApiKey | quote }}

    
    DISCORD_CLIENT_ID={{ .Values.secrets.discordClientId | quote }}
    DISCORD_CLIENT_SECRET={{ .Values.secrets.discordClientSecret | quote }}

    MAIL_HOST={{ .Values.config.mailHost | quote }}
    MAIL_USER={{ .Values.secrets.mailUser | quote }}
    POSTFIX_PASSWORD={{ .Values.secrets.postfixPassword | quote }}

    BOT_SECRET={{ .Values.secrets.botSecret | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "manga-reader.fullname" . }}-processor-env
stringData:
  .env: |
    PORT=3001
    DB_URL="postgresql://{{ .Values.database.processor.user }}:{{ .Values.database.processor.password }}@{{ include "manga-reader.fullname" . }}-postgres:5432/{{ .Values.database.processor.db }}"
    POSTGRES_USER={{ .Values.database.processor.user | quote }}
    POSTGRES_PASSWORD={{ .Values.database.processor.password | quote }}
    POSTGRES_DB={{ .Values.database.processor.db | quote }}
    S3_ENDPOINT={{ .Values.s3.endpoint | quote }}
    S3_BUCKET_NAME={{ .Values.s3.bucketName | quote }}
    S3_ACCESS_KEY_ID={{ .Values.s3.accessKeyId | quote }}
    S3_SECRET_ACCESS_KEY={{ .Values.s3.secretAccessKey | quote }}
    S3_VIRTUAL_HOSTED_STYLE={{ .Values.s3.virtualHostedStyle | quote }}
    API_KEY={{ .Values.secrets.imageServerApiKey | quote }}
    UPLOADS_DIR={{ .Values.config.imageProcessor.uploadsDir | quote }}
    HOST={{ .Values.config.imageProcessor.host | quote }}
    BACKUP_MOUNT_DIR={{ .Values.config.imageProcessor.backupMountDir | quote }}
    SHARED_SSD_CACHE_DIR={{ .Values.config.imageProcessor.sharedSsdCacheDir | quote }}
    SHARED_SSD_CACHE_DURATION_IN_SECONDS={{ .Values.config.imageProcessor.sharedSsdCacheDuration | quote }}
    CACHE_MAX_AGE={{ .Values.config.imageProcessor.cacheMaxAge | quote }}
    MAX_UPLOAD_SIZE={{ .Values.config.imageProcessor.maxUploadSize | quote }}
    BACKTRACK_DURATION_IN_SECONDS={{ .Values.config.imageProcessor.backtrackDuration | quote }}
    RAM_CACHE_EXPIRY_DURATION={{ .Values.config.imageProcessor.ramCacheExpiryDuration | quote }}
    MAX_RAM_CACHE_SIZE={{ .Values.config.imageProcessor.maxRamCacheSize | quote }}
    MAX_SHARED_SSD_SIZE_GB={{ .Values.config.imageProcessor.maxSharedSsdSizeGb | quote }}
