name: Build and Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-image-processor:
    uses: ./.github/workflows/reusable-image-processor.yml
    secrets:
      REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          
  build-web:
    uses: ./.github/workflows/reusable-web.yml
    secrets:
      REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}

  publish-helm:
    runs-on: ubuntu-latest
    needs: [build-web, build-image-processor]
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v4.10
      - name: Lint Helm Chart
        run: helm lint ./helm/manga-reader
      - name: Helm Registry Login
        env:
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
          REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
        run: |
          echo "$REGISTRY_PASSWORD" | helm registry login "$REGISTRY_URL" --username "$REGISTRY_USERNAME" --password-stdin

      - name: Build and Push Helm Chart
        env:
          REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
        run: |
          # Use short SHA as chart version to match images
          SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)
          sed -i "s/^version: .*/version: 0.1.0-$SHORT_SHA/" ./helm/manga-reader/Chart.yaml
          sed -i "s/^appVersion: .*/appVersion: \"$SHORT_SHA\"/" ./helm/manga-reader/Chart.yaml
          
          helm package ./helm/manga-reader
          helm push manga-reader-*.tgz oci://"$REGISTRY_URL"/manga-reader-charts
