name: Build and Deploy

on:
  push:
    branches: [ main ]
    paths:
      - 'apps/image-processer/**'
      - 'apps/web/**'
      - 'helm/**'
      - '.github/workflows/**'
  workflow_dispatch:
    inputs:
      build-image-processor:
        description: 'Build image-processor'
        type: boolean
        default: true
      build-web:
        description: 'Build web server'
        type: boolean
        default: true
      publish-helm:
        description: 'Publish Helm Chart'
        type: boolean
        default: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-image-processor:
    if: github.event_name == 'push' || inputs.build-image-processor
    uses: ./.github/workflows/reusable-image-processor.yml
    secrets:
      REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          
  build-web:
    if: github.event_name == 'push' || inputs.build-web
    uses: ./.github/workflows/reusable-web.yml
    secrets:
      REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}

  publish-helm:
    needs: [build-web, build-image-processor]
    if: always() && !cancelled() && (github.event_name == 'push' || inputs.publish-helm)
    uses: ./.github/workflows/reusable-helm.yml
    with:
      commit_sha: ${{ github.sha }}
    secrets:
      REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
