name: Build and Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Local/Private Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build Web Image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/web
          push: true
          tags: ${{ secrets.REGISTRY_URL }}/manga-reader-web:latest

  build-image-processor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Local/Private Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build Image Processor
        uses: docker/build-push-action@v5
        with:
          context: ./apps/image-processer
          push: true
          tags: ${{ secrets.REGISTRY_URL }}/manga-reader-image-processor:latest

  publish-helm:
    runs-on: ubuntu-latest
    needs: [build-web, build-image-processor]
    steps:
      - uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Helm Registry Login
        env:
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
          REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
        run: |
          echo "$REGISTRY_PASSWORD" | helm registry login "$REGISTRY_URL" --username "$REGISTRY_USERNAME" --password-stdin

      - name: Build and Push Helm Chart
        env:
          REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
        run: |
          helm package ./helm/manga-reader
          helm push manga-reader-*.tgz oci://"$REGISTRY_URL"/manga-reader-charts
