name: Build and Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    container:
      image: catthehacker/ubuntu:act-latest
      options: "--network gitea_gitea-net"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Local/Private Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build Web Image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/web
          push: true
          tags: ${{ secrets.REGISTRY_URL }}/manga-reader-web:latest

      - name: Build Image Processor
        uses: docker/build-push-action@v5
        with:
          context: ./apps/image-processer
          push: true
          tags: ${{ secrets.REGISTRY_URL }}/manga-reader-image-processor:latest
