name: Build Web

on:
  workflow_call:
    secrets:
      REGISTRY_URL:
        required: true
      REGISTRY_USERNAME:
        required: true
      REGISTRY_PASSWORD:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Native Build (Next.js)
        run: |
          chmod +x ./scripts/build-web.sh
          ./scripts/build-web.sh

      - name: Set up QEMU
        if: runner.arch != 'ARM64'
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.REGISTRY_URL }}/manga-reader-web
          tags: |
            type=raw,value=latest
            type=sha,format=short

      - name: Build Web Image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/web
          provenance: false
          sbom: false
          file: ./apps/web/Dockerfile.deploy
          push: true
          platforms: linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Cleanup on finish
        if: always()
        run: docker system prune -f
